# The API key for Google Gemini
GOOGLE_API_KEY=your_google_api_key_here
# The API key for Vertext AI (if different from the above)
# GOOGLE_CLOUD_LOCATION=your_google_cloud_location_here
# GOOGLE_CLOUD_PROJECT=your_google_cloud_project_here
# GOOGLE_GENAI_USE_VERTEXAI=TRUE